body{

  text-align: center;
  background-image: url(bg.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

}
.button{
  color:#FFF;
  text-decoration: none;
  font-size: 4.266vh !important;
  font-size: 40px;
  padding: 10px;
  display: inline-block;
  width: 50%;
}
.daimei{
  font-size: 3.566vh !important;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFF;
  width:80%;
  font-size:50px;
  background-color: #69E9D1;
}
#text-button {
  display: block;
  cursor: pointer;
  width: 160px;
  text-align: center;
  border: 1px solid #232323;
}
button.button1{
  width:80vw;
  font-size: 4.266vw !important;
  font-size: 40px;
  display: inline-block;
  background-color:#00EEE0;
  color:#FFF;
  margin-top:10px;
}
