body{

  text-align: center;
  background-color: #F1F9E0;

}
.button{
  color:#FFF;
  text-decoration: none;
  font-size: 4.266vh !important;
  font-size: 40px;
  padding: 10px;
  display: inline-block;
  width: 50%;
}
.daimei{
  font-size: 3.566vh !important;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFF;
  width:80%;
  font-size:50px;
  background-color: #69E9D1;
}
#text-button {
  display: block;
  cursor: pointer;
  width: 160px;
  text-align: center;
  border: 1px solid #232323;
}
button.button1{
  font-size: 4.266vw !important;
  font-size: 40px;
}
