body{

  text-align: center;
  background-image: url(bg.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

}
.button{
  color:#FFF;
  text-decoration: none;
  font-size: 4.266vh !important;
  font-size: 40px;
  padding: 10px;
  display: inline-block;
  width: 50%;
  opacity:0.9;
  border-right-style: dotted;
  border-left-style: dotted;
  border-width: 3px;
  border-color: #FFF;
  border-radius: 10px
}
.button:hover{
  opacity: 0.5;
}
.daimei{
  font-size: 3.566vh !important;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFF;
  width:80%;
  font-size:50px;
  background-color: #69E9D1;

}
#text-button {
  display: block;
  cursor: pointer;
  width: 160px;
  text-align: center;
  border: 1px solid #232323;
}
button.button1{
  width:80vw;
  font-size: 4.266vw !important;
  font-size: 40px;
  display: inline-block;
  margin-top:10px;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  text-shadow: 0 0 5px white;
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}
#countdown{
  display: inline-block;
  vertical-align: middle;
  margin: 10px;

}
#osirase{
  display: inline-block;
  vertical-align: middle;
  width:600px;
  height: 260px;
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  text-align:center;
  margin: 10px;
  padding: 2px;
  color:orange;
  background-color: #FFF;
}
.osirase{



}
.osirasedaimei{

  font-size: 40px;

}
.osirasedaimei2{

  font-size: 40px;
  color:red;

}
.fontsize{
  width: 80%;
  background-color: #FFF;
  font-size: 15px;
  opacity: 0.7
}
