#loading{
position: absolute;
left: 50%;
top: 30%;
}
#loader-bg {
position: fixed;
width: 100%;
height: 100%;
top: 0px;
left: 0px;
background: #FFF;
z-index: 1;
}
body {

  /* 画像ファイルの指定 */
  background-image: url(img/bgimg.png);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}
contents{
text-align: center;
margin-top: 20%;
}
#head{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  width:100vw;
  height:20vh;
  background-color: #FFF;
  opacity: 0.9;
  z-index: 1;

}
.logo{
  height: 80%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin:auto;



}
#link{


  position: absolute;
  top: 20vh;
  left: 10vw;
  width:80vw;


}
.link{

  width: 100%;
  font-size: 50px;
  color:#FFF;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  text-decoration: none;


}
.text{

  width: 100%;
  font-size: 50px;
  color:#FFF;

}
.text3{

  width: 100%;
  font-size: 40px;
  color:#FFF;

}
.rocket{
  position: absolute;

  right: 0px;
  bottom: 10px;
  left: 0px;
  margin: auto;
}
.utyuuhikoushi{
  position: fixed;
  bottom: 90px;
  height: 20vh;
  right: 0;
  z-index: 1;
}
#end{
  width: 100vw;
  height: 100px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: grey;
  color: #FFF;
  font-size: 30px;
  margin:0;
  z-index: 2;
}
.buttonimg{
  display: inline-block;
  width: 100%;
  margin-top:60px;
  z-index: -1;
}
.text2{
  color: #FFF;
  font-size:35px;
}
.buttonimg2{
  display: inline-block;
  width: 100%;
  margin-top:0px;
  z-index: -1;
}
